@font-face {
    font-family: "SecularOne";
    src: url(./assets/fonts/SecularOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "SecularOne", sans-serif;
   line-height: 150%;
   background-color: #eee1bf;
}

 
@media screen and (min-width: 320px) {
    .h1 {
        font-size: 1.4em;
        padding-bottom: 0.5em;
        border-bottom: 0.3em double rgb(120, 118, 118);;
    }

    .wrapper {
        padding: 10%;
    }

    .meme {
        margin: 0 auto;
        max-width: 100%;
    }

    .meme-item {
        padding: 4% 4%;
        border-bottom: 0.1em solid rgb(120, 118, 118);
    }

    .title-wrapper {
        display: flex;
    }

    .meme-title {
        /*display: block;*/
        width: 100%;
        font-size: 1.1em;
        cursor: pointer;
    }

    .meme-input {
        width: 0;
        height: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    .meme-input:checked + .img {
        height: 100%;
        width: 100%;
    }

    .img {
        margin-top: 5%;
        height: 0;
    }

    .plus {
        height: 5%;
        width: 5%;
    }

}

@media (min-width: 820px) {

}

@media (min-width: 1920px) {

}