@font-face {
    font-family: "SecularOne";
    src: url(./assets/fonts/SecularOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "SecularOne", sans-serif;
   line-height: 150%;
   background-color: #eee1bf;
}

 
@media screen and (min-width: 320px) {
    .h1 {
        font-size: 1.4em;
        padding-bottom: 0.5em;
        border-bottom: 0.3em double rgb(120, 118, 118);
        margin-bottom: 0%;
    }

    .wrapper {
        padding: 10%;
    }

    .meme {
        margin: 0 auto;
        max-width: 100%;
    }

    .meme-item {
        /* padding: 7% 4%; */
        /* border-bottom: 0.1em solid rgb(120, 118, 118); */
    }

    .title {
        display: flex;
        height: 0;
    }

    .meme-title {
        width: 100%;
        font-size: 1.1em;
        cursor: pointer;
    }

    .input {
        width: 0%;
        height: 0%;
        opacity: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    .input:checked ~ .meme-item .img {
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: all 1s linear;
    }

    .input:checked ~ .meme-item .title .plus {
        transition: transform 0.5s linear;
        transform: rotate(405deg);
        transform-origin: center center;
    }

    .img {
        margin: 15% auto 6% auto;
        height: 0;
        opacity: 0;
    }

    /* .plus {
        height: 2%;
        width: 2%;
    } */

    .meme-wrapper {
        border-bottom: 0.1em solid rgb(120, 118, 118);
    }

}

@media (min-width: 820px) {

}

@media (min-width: 1920px) {

}