@font-face {
    font-family: "SecularOne";
    src: url(./assets/fonts/SecularOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "SecularOne", sans-serif;
   background-color: #eee1bf;
   height: 101vh;
}




@media all and (min-width: 320px) {
    .h1 {
        font-size: 1.3em;
        padding-bottom: 0.5em;
        border-bottom: 0.3em double rgb(120, 118, 118);
        margin-bottom: 0%;
    }

    .wrapper {
        max-width: 90vw;
        margin: 0 auto;
        padding: 2%;
    }

    .meme {
        margin: 0 auto;
        max-width: 100%;
    }

    .title {
        display: flex;
        height: 0;
    }

    .meme-title {
        width: 100%;
        font-size: 1.2em;
        cursor: pointer;
    }

    .input {
        /* width: 0;
        height: 0%; */
        opacity: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    .input:checked ~ .meme-item .img {
        height: 25vh;
        opacity: 1;
        transition: all 0.5s linear;
    }

    .input:checked ~ .meme-item .title .fa{
        transition: transform 0.5s linear;
        transform: rotate(405deg);
        transform-origin: center center;
    }

    .img {
        display: block;
        margin: 13% auto 5% auto;
        text-align: center;
        height: 0;
        opacity: 0;
    }

    .meme-wrapper {
        border-bottom: 0.1em solid rgb(120, 118, 118);
    }

}
/*-------------------------------------------------*/

@media all and (min-width: 500px) {
    .wrapper {
        max-width: 60vw;
        margin: 0 auto;
        padding: 1%;
    }
}

/*-------------------------------------------------*/
@media all and (min-width: 820px) {
    .h1 {
        font-size: 1.5em;
        padding-bottom: 0.5em;
        border-bottom: 0.3em double rgb(120, 118, 118);
        margin-bottom: 0%;
    }

    .wrapper {
        color: rgb(15, 15, 210);
        max-width: 40vw;
        margin: 0 auto;
        padding: 1%;
    }
}
/*---------------------------------------------------------------------*/
    @media all and (min-width: 1200px) {
        .wrapper {
            max-width: 35vw;
            margin: 0 auto;
        }

    .fa {
        opacity: 0;
        margin-top: 3%;
        font-size: 1.5em;
    }

    .img {
        margin: 13% auto 4% auto;
        cursor: pointer;
        transition: all 0.5s linear;
    }

    .input:checked ~ .meme-item .img {
        height: 30vh;
        opacity: 1;
        transition: all 0.5s linear;
    }
}
/*---------------------------------------------------------*/
@media all and (min-width: 1000px) {
    .wrapper {
        max-width: 40vw;
        margin: 0 auto;
    }
}
/*---------------------------------------------------------*/

@media all and (min-width: 1200px) {
    .wrapper {
        max-width: 35vw;
        margin: 0 auto;
    }
}
/*---------------------------------------------------------*/

@media all and (min-width: 1400px) {
    .wrapper {
        max-width: 25vw;
        margin: 0 auto;
    }

    .meme-title {
        width: 100%;
        font-size: 1.4em;
        cursor: pointer;
    }

    .input:checked ~ .meme-item .img {
        height: 25vh;
        opacity: 1;
        transition: all 0.5s linear;
    }
}

/*---------------------------------------------------------*/
@media all and (min-width: 1920px) {
    .h1 {
        font-size: 2em;
        padding-bottom: 0.5em;
        border-bottom: 0.3em double rgb(120, 118, 118);
        margin-bottom: 0%;
    }

    .wrapper {
        max-width: 25vw;
        margin: 0 auto;
    }

    .meme-title {
        width: 100%;
        font-size: 1.8em;
        cursor: pointer;
    }

    .input:checked ~ .meme-item .img {
        height: 30vh;
        opacity: 1;
        transition: all 0.5s linear;
    }


    .input:checked ~ .meme-item .title .fa {
        transition: transform 0.3s linear;
        transform: rotate(405deg);
        transform-origin: center center;
    }

    .img {
        margin: 12% auto 7% auto;
    }

    .fa {
        margin-top: 3%;
        font-size: 3em;
    }

}

/*Для устройств, поддерживающих hover---------------------------------------*/
@media(hover:hover) {
    .wrapper:hover {
        color:rgb(25, 25, 33)
    }

    .wrapper:hover .fa{
       opacity: 1;
    }

    .meme-item:hover .img {
        height: 30vh;
        opacity: 1;
        transition: all 0.5s linear;
    }

    .meme-item:hover .fa {
        transform: rotate(405deg);
        transition: all 0.6 linear;
    }

    .meme-item:active .meme-title{
        color: blue;
    }

    .meme-item:active .img {
        transition: all 0.5s linear;
        opacity: 0.5;
    }

    .meme-item:active .fa {
        color: blue;
    }

    .img {
        cursor: pointer;
    }

 }

